# Import Libraries

In [43]:
import pandas as pd

# Obtain data

In [44]:
production_df = pd.read_excel('Data/oil_production.xls', header=2, sheet_name='Data 1')
production_df.head()

,Date,Weekly U.S. Field Production of Crude Oil (Thousand Barrels per Day)
0,1983-01-07,8634
1,1983-01-14,8634
2,1983-01-21,8634
3,1983-01-28,8634
4,1983-02-04,8660

In [45]:
prices_df = pd.read_excel('Data/oil_prices.xls', header=2, sheet_name='Data 1')
prices_df.head()

        Date  Weekly Cushing, OK WTI Spot Price FOB  (Dollars per Barrel)
0 1986-01-03                                              25.78
1 1986-01-10                                              25.99
2 1986-01-17                                              24.57
3 1986-01-24                                              20.31
4 1986-01-31                                              19.69

In [46]:
df = pd.merge(prices_df, production_df, how='inner', on='Date')
df.head()

,Date,"Weekly Cushing, OK WTI Spot Price FOB (Dollars per Barrel)",Weekly U.S. Field Production of Crude Oil (Thousand Barrels per Day)
0,1986-01-03,25.78,8942
1,1986-01-10,25.99,8942
2,1986-01-17,24.57,8942
3,1986-01-24,20.31,8942
4,1986-01-31,19.69,8942

In [48]:
df = df[df['Date']>='2011-8-12']
df.columns = ['Date', 'Oil Price', 'Oil Production']
df.head()

           Date  Oil Price  Oil Production
1336 2011-08-12      82.86            5561
1337 2011-08-19      85.36            5591
1338 2011-08-26      85.06            5598
1339 2011-09-02      88.07            5642
1340 2011-09-09      87.91            5083

# Scrub Data

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 486 entries, 1336 to 1821
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            486 non-null    datetime64[ns]
 1   Oil Price       486 non-null    float64
 2   Oil Production  486 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 15.2 KB